@import "tailwindcss";

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(17, 17, 17, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(52, 52, 52, 0.37);
  border-radius: 10px;
  border: 2px solid rgba(17, 17, 17, 0.3);
}

button {
  cursor: pointer;
}
